<p id="notice"><%= notice %></p>

<p>
  <strong>Purchaser name:</strong>
  <%= @document.purchaser_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @document.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @document.item_price %>
</p>

<p>
  <strong>Purchase count:</strong>
  <%= @document.purchase_count %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @document.merchant_address %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @document.merchant_name %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
